$icomoon-font-path: "fonts" !default;

$sb-icon-whatsapp-path1: "\e93f";
$sb-icon-whatsapp-path2: "\e940";
$sb-icon-whatsapp-path3: "\e941";
$sb-icon-viber-path1: "\e942";
$sb-icon-viber-path2: "\e943";
$sb-icon-viber-path3: "\e944";
$sb-icon-viber-path4: "\e945";
$sb-icon-viber-path5: "\e946";
$sb-icon-viber-path6: "\e947";
$sb-icon-giftbox: "\e93e";
$sb-icon-loading-path1: "\e932";
$sb-icon-loading-path2: "\e933";
$sb-icon-loading-path3: "\e934";
$sb-icon-loading-path4: "\e935";
$sb-icon-loading-path5: "\e936";
$sb-icon-loading-path6: "\e937";
$sb-icon-loading-path7: "\e938";
$sb-icon-loading-path8: "\e939";
$sb-icon-loading-path9: "\e93a";
$sb-icon-loading-path10: "\e93b";
$sb-icon-loading-path11: "\e93c";
$sb-icon-loading-path12: "\e93d";
$sb-icon-chevron-up: "\e931";
$sb-icon-sad: "\e930";
$sb-icon-mMenu: "\e92f";
$sb-icon-cancel-round: "\e92a";
$sb-icon-cancel: "\e92b";
$sb-icon-share: "\e92c";
$sb-icon-filter-results-button: "\e92d";
$sb-icon-question-mark: "\e92e";
$sb-icon-refresh-button: "\e927";
$sb-icon-list: "\e928";
$sb-icon-grid: "\e929";
$sb-icon-google-plus-round-path1: "\e921";
$sb-icon-google-plus-round-path2: "\e923";
$sb-icon-google-plus-round-path3: "\e924";
$sb-icon-google-plus-round-path4: "\e925";
$sb-icon-google-plus-round-path5: "\e926";
$sb-icon-credit-cards-payment: "\e915";
$sb-icon-safe-shield-protection: "\e916";
$sb-icon-facebook-round-path1: "\e917";
$sb-icon-facebook-round-path2: "\e918";
$sb-icon-facebook-round-path3: "\e919";
$sb-icon-facebook-round-path4: "\e91a";
$sb-icon-twitter-path1: "\e91b";
$sb-icon-twitter-path2: "\e91c";
$sb-icon-twitter-path3: "\e91d";
$sb-icon-twitter-path4: "\e91e";
$sb-icon-phone-call: "\e91f";
$sb-icon-customer-support: "\e920";
$sb-icon-cargo-truck: "\e922";
$sb-icon-google-plus: "\e912";
$sb-icon-facebook: "\e913";
$sb-icon-instagram: "\e914";
$sb-icon-black-back-closed-envelope-shape: "\e90e";
$sb-icon-secure-shield: "\e90f";
$sb-icon-box: "\e910";
$sb-icon-telemarketer: "\e911";
$sb-icon-menu: "\e90c";
$sb-icon-star: "\e90d";
$sb-icon-like: "\e90b";
$sb-icon-arroba: "\e900";
$sb-icon-magnifying-glass: "\e901";
$sb-icon-user: "\e902";
$sb-icon-down-arrow: "\e903";
$sb-icon-shopping-cart: "\e904";
$sb-icon-headphones: "\e905";
$sb-icon-libra: "\e906";
$sb-icon-tick: "\e907";
$sb-icon-price-tag: "\e908";
$sb-icon-telephone: "\e909";
$sb-icon-placeholder: "\e90a";
$sb-icon-youtube: "\e94b";

$red: #f81a20;
$blue: #131d5f;
$grey: #e9e9eb;
$green: #5bbb4b;
$lightblue: #0aaaaa;
$darkGrey: #aaaaaa;
$lightRed: #f46b6f;
